* {
	    box-sizing: border-box;
		font-family: "plus jakarta sans";
	  }
	  
	  body {
		background: gray;

	  }
	  
	  .container, .countdown-display, .about-txt {
		width: 690px;
		height: 645px;
		margin: 150px auto;
		padding-top: 50px;
		border-radius: 10px;
		background: linear-gradient(to bottom, black, blue);
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		align-items: center;
		box-shadow: 5px 5px 15px #505050;
	  }
	  
	  .countdown-display {
		display: none;
		color: white;
		font-size: 7rem;
		text-align: center;
	  }
	  
	  #stop-btn {
		  width: 300px;
		  font-size: 2rem;
		  font-weight: bold;
		  padding: 10px 0;
		  border-style: outset;
	  }

	  .about-txt {
		padding: 0px 50px;
		text-align: justify;
		font-size: 1.25rem;
		color: white;
		display: none;
		justify-content: center;
	 }
	 
	  .about-txt h2 {
		 text-align: center;
	 }
	  
	.btn-font {
		font-size: 20px;
		font-weight: bold;
	}
	  
	  .timer-btn {
		width: 500px;
		height: 55px;
		border-style: outset;
		margin-bottom: 10px;
	  }
	  
	  .timer-btns {
		  display: flex;
		  flex-direction: column;
	  }
	  
	 .sound {
	   font-size: 20px;
	   font-weight: bold;
	   color: white;
	 }
	 
	 .end {
	   display: flex;
	   flex-direction: column;
	   padding-top: 20px;
	 }
	 
	 
	 .end button, #close-btn {
	   width: 235px;
	   height: 55px;
	 }
	 
	 .end-btns {
		display: flex;
		padding-right: 20px;
		padding-left: 20px;
		margin-bottom: 25px;
		gap: 30px;
	 }
	 
	form {
	  display: flex;
	  flex-direction: column;
	}
	
	form input, label {
	 text-align: center;
	 padding-bottom: 10px;
	 padding-right: 3px;
	}
	
	form select {
	  width: 500px;
	  height: 35px;
	  font-size: 18px;
	  font-weight: bold;
	}
	
	.btn-animations:hover {
	  cursor: pointer;
	  background: #000814;
	  color: white;
	}
	  
	.btn-animations:active {
	  transform: translateY(2px);
	}
	
	.underline {
		text-decoration: underline;
	}

    .readme {
        color: #fff;
        font-weight: bold;
    }